input {
    border: none;
    background: #dbdbdb;
    padding: 15px 0px 15px 30px;
    margin: 0px 0px 10px 0px;
    align-content: center;
    width: 100%;
    border-radius: 5px;
}

.ms-Button-textContainer {
    text-align: center !important;
}

.center {
    margin: auto;
    width: 55%;
    padding: 0px;
}

.inputLogin {
    width: 400px;
}

.fill {
    padding-top: 30px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.loginButton {
    width: 100%;
    text-align: center !important;
    max-width: none;
}

.submitBtn {
    visibility: hidden;
}